# INSTRUCTIONS FOR TEAM
# 1. Copy this file and rename it to ".env"
# 2. You can leave the defaults below for local development, 
#    or change them if you have port conflicts.

# DATABASE CONFIGURATION
POSTGRES_USER=surplus_admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=surplus_db
POSTGRES_PORT=5432

# REDIS CONFIGURATION
REDIS_PORT=6379

# PGADMIN (DB DASHBOARD)
PGADMIN_EMAIL=admin@surplussync.com
PGADMIN_PASSWORD=adminsurp123

JWT_SECRET=your_key_here

# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# ADMIN CREDENTIALS
SUPER_ADMIN_EMAIL=your_email_here
SUPER_ADMIN_PASSWORD=your_password_here